spring:
  devtools:
    livereload:
      enabled: true

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false
    check-template-location: true

pollination:
  publish-key: pk_WQYvjz9SpSpAcJdR